<!--<p>contacts works!</p>-->
<!-- Page header -->
<div class="page-header">
  <div class="page-leftheader">
    <h4 class="page-title mb-0">La Liste du contact: </h4>
  </div>
  <div class="page-rightheader">
    <div class="btn btn-list">
      <a (click)="handleEvent('Clicked', $event.event, null)" class="btn btn-info">
        <i class="fe fe-user-plus mr-1"></i> Nouveau contact
      </a>
    </div>
  </div>
  <div class="page-rightheader">
    <div class="btn btn-list">
      <a (click)="exportToPDF()" class="btn btn-info">
        <i class="fa-solid fa-file-pdf"></i>
        Extraction PDF
      </a>
    </div>
  </div>
</div>
<!-- End Page header -->

<!-- Row -->
<div class="card">
  <div class="row no-gutters">
    <div class="col-lg-4 col-xl-3">
      <div class="border-right">
        <div class="main-content-left main-content-left-contacts">
          <div class="card-header">
            <div class="card-title">Tous les Contacts</div>
          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Chercher un contact"
                   (input)="searchContacts()">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="clearSearch()">Annuler</button>
            </div>
          </div>
          <div class="main-contacts-list" id="mainContactList">
            <div
              *ngFor="let contact of filteredContacts | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }"
              class="main-contact-item" (click)="changeDisplayedContact(contact)">
              <div class="main-img-user">
                <img [src]="contact.image ? contact.image : '../../assets/images/users/avatar.png'" alt="Contact Image"
                     class="avatar avatar-md brround">
              </div>
              <div class="main-contact-body">
                <h6>{{ contact.fname }} {{ contact.lname }}</h6>
                <span class="phone">{{ contact.tlph }}</span>
              </div>
            </div>
            <!-- Pagination controls -->
            <div class="pagination-controls">
              <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="col-lg-8 col-xl-9">
      <div class="">
        <div class="main-content-body main-content-body-contacts">
          <div class="main-contact-info-header">
            <div class="media">
              <div class="main-img-user brround">
                <div class="main-img-user">
                  <img [src]="displayedContact.image ? displayedContact.image : '../../assets/images/users/2.jpg'"
                       alt="Contact Image" class="w-100 h-100 brround">
                </div>
                <a href="javascript:void(0)" (click)="onCameraClick()"><i class="fe fe-camera"></i></a>
                <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
              </div>
              <div class="media-body">
                <h4>{{ displayedContact.fname }} {{ displayedContact.lname }}</h4>
                <p>{{ displayedContact.post }}</p>
              </div>
              <div class="main-contact-action" *ngIf="contacts.length != 0">
                <a href="javascript:void(0)" class="btn btn-light btn-svgs"
                   (click)="handleEvent('Clicked', $event.event, displayedContact)">
                  <i class="fe fe-edit mr-1"></i>Modifier
                </a>
                <a (click)="deleteContact(displayedContact.id)" class="btn btn-danger btn-svgs">
                  <i class="fe fe-trash-2 mr-1"></i>Supprimer
                </a>
              </div>
            </div>
          </div>
          <div class="main-contact-info-body">
            <div class="card-body">
              <h6><i class="fa-solid fa-comment fa-2x"></i></h6>
              <p>{{ displayedContact.comment }}</p>
            </div>
            <div class="media-list p-0">
              <div class="media py-4 mt-0">
                <div class="media-body">
                  <div class="d-flex">
                    <div class="media-icon bg-light text-primary mr-3 mt-1">
                      <i class="fa fa-home"></i>
                    </div>
                    <div>
                      <label>Société</label>
                      <span class="font-weight-semibold fs-14">{{ displayedContact.societe }}</span>
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="media-icon bg-light text-primary mr-3 mt-1">
                      <i class="fa fa-phone"></i>
                    </div>
                    <div>
                      <label>Téléphone du sociétée</label>
                      <span class="font-weight-semibold fs-14">{{ displayedContact.soctlph }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media py-4 border-top mt-0">
                <div class="media-body">
                  <div class="d-flex">
                    <div class="media-icon bg-light text-primary mr-3 mt-1">
                      <i class="fa fa-phone"></i>
                    </div>
                    <div>
                      <label>Téléhone</label>
                      <span class="font-weight-semibold fs-14">{{ displayedContact.tlph }}</span>
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="media-icon bg-light text-primary mr-3 mt-1">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <div>
                      <label>Adresse du société</label>
                      <span class="font-weight-semibold fs-14">{{ displayedContact.socadd }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="media py-4 border-top mt-0">
                <div class="media-body">
                  <div class="d-flex">
                    <div class="media-icon bg-light text-primary mr-3 mt-1">
                      <i class="fa-solid fa-qrcode"></i>
                    </div>
                    <div>
                      <label>Code QR</label>
                      <span class="font-weight-semibold fs-14">
                        <img [src]="'data:image/png;base64,' + displayedContact.qr_code" alt="QR Code"
                             class="qr-code-large">
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <style>
                .qr-code-large {
                  width: 200px; /* Adjust width as needed */
                  height: 200px; /* Adjust height as needed */
                }
              </style>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->

<!-- popup -->
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Add new contact</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-18 col-lg-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="coordonneeGroup">
            <div class="form-group standalone-image-upload">
              <div class="file-upload-container">
                <label for="imageUpload" class="custom-file-upload">
                  <input type="file" id="imageUpload" (change)="onFileSelected3($event)" accept="image/*">
                  <span *ngIf="selectedImage" class="preview-container">
                  <img [src]="selectedImage" alt="Selected Image Preview" class="preview-image">
                </span>
                  <span *ngIf="!selectedImage" class="upload-text">Upload Image</span>
                </label>
              </div>
            </div>
            <!-- End of Standalone Image Upload and Preview Section -->

            <div class="form-row">
              <div class="form-group col-md-6 mb-0">
                <input type="text" class="form-control" name="fname" formControlName="fname" placeholder="Prénom">
                <div
                  *ngIf="coordonneeGroup.get('fname').invalid && (coordonneeGroup.get('fname').dirty || coordonneeGroup.get('fname').touched)"
                  class="text-danger">
                  <div *ngIf="coordonneeGroup.get('fname').errors?.lettersOnly">Le prénom ne doit contenir que des
                    lettres.
                  </div>
                  <div
                    *ngIf="coordonneeGroup.get('fname')?.hasError('noSpaces') && coordonneeGroup.get('fname')?.touched">
                    <small class="text-danger">Le prénom doit etre non vide et ne contient que des espaces
                      seulement.</small>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6 mb-0">
                <div class="form-group">
                  <input type="text" class="form-control" name="lname" formControlName="lname" placeholder="Nom">
                  <!-- Message d'erreur pour lname -->
                  <div
                    *ngIf="coordonneeGroup.get('lname').invalid && (coordonneeGroup.get('lname').dirty || coordonneeGroup.get('lname').touched)"
                    class="text-danger">
                    <div *ngIf="coordonneeGroup.get('lname').errors?.lettersOnly">Le nom ne doit contenir que des
                      lettres.
                    </div>
                    <div
                      *ngIf="coordonneeGroup.get('lname')?.hasError('noSpaces') && coordonneeGroup.get('lname')?.touched">
                      <small class="text-danger">Le nom doit etre non vide et ne contient que des espaces
                        seulement.</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 mb-0">
                <div class="form-group">
                  <input type="text" class="form-control" name="societe" formControlName="societe"
                         placeholder="Société">
                  <div
                    *ngIf="coordonneeGroup.get('societe')?.hasError('noSpaces') && coordonneeGroup.get('societe')?.touched">
                    <small class="text-danger">Le nom de la société doit etre non vide et ne contient que des
                      espaces
                      seulement.</small>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6 mb-0">
                <div class="form-group">
                  <input type="text" class="form-control" name="socadd" formControlName="socadd"
                         placeholder="addresse de la société">
                  <div
                    *ngIf="coordonneeGroup.get('socadd')?.hasError('noSpaces') && coordonneeGroup.get('socadd')?.touched">
                    <small class="text-danger">l'adresse de la société doit etre non vide et ne contient que des
                      espaces
                      seulement.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 mb-0">
                <div class="form-group">
                  <input type="text" class="form-control" name="soctlph" formControlName="soctlph"
                         placeholder="Téléphone de la société">
                  <!-- Message d'erreur pour soctlph -->
                  <div
                    *ngIf="coordonneeGroup.get('soctlph').invalid && (coordonneeGroup.get('soctlph').dirty || coordonneeGroup.get('soctlph').touched)"
                    class="text-danger">
                    <div *ngIf="coordonneeGroup.get('soctlph').errors?.phoneNumber">Le numéro de téléphone de la
                      société
                      doit contenir exactement 8 chiffres.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6 mb-0">
                <div class="form-group">
                  <input type="text" class="form-control" name="tlph" formControlName="tlph"
                         placeholder="Téléphone">
                  <!-- Message d'erreur pour tlph -->
                  <div
                    *ngIf="coordonneeGroup.get('tlph').invalid && (coordonneeGroup.get('tlph').dirty || coordonneeGroup.get('tlph').touched)"
                    class="text-danger">
                    <div *ngIf="coordonneeGroup.get('tlph').errors?.phoneNumber">Le numéro de téléphone doit
                      contenir
                      exactement 8 chiffres.
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 mb-0">
                <div class="form-group">
                  <input type="text" class="form-control" name="post" formControlName="post" placeholder="Post">
                  <div
                    *ngIf="coordonneeGroup.get('post')?.hasError('noSpaces') && coordonneeGroup.get('post')?.touched">
                    <small class="text-danger">Le post doit etre non vide et ne contient que des espaces
                      seulement.</small>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6 mb-0">
                <div class="form-group">
                  <textarea class="form-control" name="comment" formControlName="comment"
                            placeholder="Commentaire"></textarea>
                  <div
                    *ngIf="coordonneeGroup.get('comment')?.hasError('noSpaces') && coordonneeGroup.get('comment')?.touched">
                    <small class="text-danger">Le commentaire doit etre non vide et ne contient que des espaces
                      seulement.</small>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="isCreate == true" type="button" class="btn btn-outline-primary" (click)="saveContact()">Ajouter
    </button>
    <button *ngIf="isCreate == false" type="button" class="btn btn-outline-primary"
            (click)="updateContact(displayedContact.id)">Modifier
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="closePopup()">Annuler</button>
  </div>
</ng-template>
