<!--
<div class="page">
  <div class="page-single">
    <div class="p-5" style="width: -webkit-fill-available;">
      <div class="row">
        <div class="col mx-auto">
          <div class="row justify-content-center">
            <div class="col-lg-9 col-xl-8">
              <div class="card-group mb-0">
                <div class="card p-4">
                  <div class="card-body">

                    <form [formGroup]="loginForm" >

                      <div class="text-center title-style mb-6">
                        <h1 class="mb-2">Login</h1>
                        <hr>
                        <p class="text-muted">Connectez-vous à votre compte</p>
                      </div>
                      &lt;!&ndash;<div class="btn-list d-flex">
                        <a href="https://www.google.com/gmail/" class="btn btn-google btn-block">
                          <i class="fa-brands fa-google"></i> Google</a>
                        <a href="https://twitter.com/" class="btn btn-twitter">
                          <i class="fa-brands fa-twitter"></i></a>
                        <a href="https://www.facebook.com/" class="btn btn-facebook">
                          <i class="fa-brands fa-facebook"></i></a>
                      </div>&ndash;&gt;
                      &lt;!&ndash;<hr class="divider my-6">&ndash;&gt;
                      <div class="form-group">
                        <div class="input-group mb-4">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fe fe-user"></i>
                            </div>
                          </div>

                          &lt;!&ndash;<input type="text" formControlName="username" class="form-control"
                                 placeholder="Email"
                                 [(ngModel)]="username" (blur)="checkUsername()" name="username" required>&ndash;&gt;
                          <input type="text" formControlName="username" class="form-control"
                                 placeholder="Email">
                        </div>
                        <div *ngIf="usernameNotFound" class="text-danger">
                          L'email saisi n'est pas trouvé dans la base de données.
                        </div>
                        <div *ngIf="loginForm.get('username').errors?.required && loginForm.get('username').touched"
                             class="text-danger">Email obligatoire </div>
                        <div *ngIf="loginForm.get('username').errors?.email && loginForm.get('username').touched"
                             class="text-danger">Veuillez entrer une adresse email valide
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group mb-4">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fe fe-lock"></i>
                            </div>
                          </div>
                          <input type="{{ hidePassword ? 'password' : 'text' }}" formControlName="password"
                                 class="form-control" placeholder="Saisir votre mot de passe">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"
                                    (click)="togglePasswordVisibility()">
                              <i class="fe" [ngClass]="{'fe-eye': hidePassword, 'fe-eye-off': !hidePassword}"></i>
                            </button>
                          </div>
                        </div>
                        <div *ngIf="loginForm.get('password').errors?.required && loginForm.get('password').touched"
                             class="text-danger">Mot de passe obligatoire </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <button type="submit" class="btn btn-primary btn-block px-4" (click)="submit">
                            Connexion</button>
                        </div>
                        <div class="col-12 text-center">
                          <a href="javascript:void(0)" class="btn btn-link box-shadow-0 px-0">Mot de passe oublié ?</a>
                        </div>
                      </div>
                      <div class="text-center pt-4">
                          <div class="font-weight-normal fs-16">Vous n'avez pas de compte?
                          <a class="btn-link font-weight-normal" [routerLink]="['/auth/register']">Inscrivez-vous ici</a>
                        </div>

   </div>
                    </form>

                  </div>
                </div>
                <div class="card text-white bg-primary py-5 d-md-down-none page-content mt-0">
                  <div class="text-center justify-content-center page-single-content">
                    <div class="bgbox">
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <img src="../../assets/images/png/logo_facture.png" alt="img">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

-->
<!--<div class="login-container">
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit">Login</button>
    <div *ngIf="loginError" class="error-message">{{ loginError }}</div>
  </form>
</div>-->
<div class="page">
  <div class="page-single">
    <div class="p-5" style="width: -webkit-fill-available;">
      <div class="row">
        <div class="col mx-auto">
          <div class="row justify-content-center">
            <div class="col-lg-9 col-xl-8">
              <div class="card-group mb-0">
                <div class="card p-4">
                  <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="submit()">
                      <div class="text-center title-style mb-6">
                        <h1 class="mb-2">Login</h1>
                        <hr>
                        <p class="text-muted">Connectez-vous à votre compte</p>
                      </div>
                      <div class="form-group">
                        <div class="input-group mb-4">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fe fe-user"></i>
                            </div>
                          </div>
                          <input type="text" formControlName="username" class="form-control"
                                 placeholder="Email">
                        </div>
                        <div *ngIf="usernameNotFound" class="text-danger">
                          L'email saisi n'est pas trouvé dans la base de données.
                        </div>
                        <div *ngIf="loginForm.get('username').errors?.required && loginForm.get('username').touched"
                             class="text-danger">Email obligatoire </div>
                        <div *ngIf="loginForm.get('username').errors?.email && loginForm.get('username').touched"
                             class="text-danger">Veuillez entrer une adresse email valide
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group mb-4">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fe fe-lock"></i>
                            </div>
                          </div>
                          <input type="{{ hidePassword ? 'password' : 'text' }}" formControlName="password"
                                 class="form-control" placeholder="Saisir votre mot de passe">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"
                                    (click)="togglePasswordVisibility()">
                              <i class="fe" [ngClass]="{'fe-eye': hidePassword, 'fe-eye-off': !hidePassword}"></i>
                            </button>
                          </div>
                        </div>
                        <div *ngIf="loginForm.get('password').errors?.required && loginForm.get('password').touched"
                             class="text-danger">Mot de passe obligatoire </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <button type="submit" class="btn btn-primary btn-block px-4">
                            Connexion
                          </button>
                        </div>
                        <div class="col-12 text-center">
                          <a href="javascript:void(0)" class="btn btn-link box-shadow-0 px-0" (click)="navigateToForgotPassword()">Mot de passe oublié ?</a>
                        </div>
                      </div>
                      <div class="text-center pt-4">
                        <div class="font-weight-normal fs-16">Vous n'avez pas de compte?
                          <a class="btn-link font-weight-normal" [routerLink]="['/auth/register']">Inscrivez-vous ici</a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="card text-white bg-primary py-5 d-md-down-none page-content mt-0">
                  <div class="text-center justify-content-center page-single-content">
                    <div class="bgbox">
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    <img src="../../assets/images/png/logo_facture.png" alt="img">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
