<!--row open-->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Créer une nouvelle mission</h3>
      </div>

      <form (ngSubmit)="submit()" [formGroup]="formAddMission">
        <div class="card-body">

          <ng-wizard  [config]="config2">

            <!-- Étape 1 : Informations sur le client -->
            <ng-wizard-step [canEnter]="isValidTypeBoolean" [canExit]="isValidFunctionReturnsBoolean.bind(this)"
                            [description]="'Step 1'"
                            [title]="'Informations sur le client'">

              <div class="row">
                <div class="col-lg-14 col-xl-12 col-md-14 col-sm-14">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Information sur le client</h4>
                    </div>
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-lg-12 col-md-8">
                          <div class="form-group d-flex align-items-center">
                            <label class="form-label mr-3">Type de client</label>
                            <ng-select class="flex-grow-1" placeholder="-- Sélectionner le type du client --" (change)="toggleClientInfoVisibility()">
                              <ng-option value="nouveau" >Créer un nouveau client</ng-option>
                              <ng-option value="existant" >Choisir un client existant</ng-option>
                            </ng-select>
                          </div>
                        </div>
                      </div>

                      <!------begin------->
                      <div class="row" *ngIf="creerNouveauClient">
                        <div class="col-lg-6 col-md-12" >
                          <div class="form-group">
                            <label class=" form-label">Client final</label>
                            <input class="form-control" formControlName="nameClient" name="nameClient" type="text">
                          </div>
                          <div class="form-group ">
                            <label class="form-label">Adresse</label>
                            <input class="form-control" formControlName="address" name="address" type="text">
                          </div>
                          <div class="form-group ">
                            <label class="  form-label">Nom du Contact</label>
                            <input class="form-control" formControlName="contactName" name="contactName" type="text">
                          </div>
                        </div>

                        <div class="col-lg-6 col-md-12" >
                          <div class="form-group ">
                            <label class="  form-label">Mail</label>
                            <input class="form-control" formControlName="mail" name="mail" type="text">
                          </div>

                          <div class="form-group ">
                            <label class="  form-label">Tel</label>
                            <input class="form-control" formControlName="tel" name="tel" type="text">
                          </div>
                          <div class="form-group ">
                            <label class=" form-label">Commentaires</label>
                            <textarea class="form-control" placeholder="" formControlName="commentaires"
                                      name="commentaires" rows="2"></textarea>
                          </div>
                        </div>
                      </div>
                      <!------end------->

                      <!------Debut l'ajout d'un client existant------->
                      <div class="row" *ngIf="!creerNouveauClient">
                        <div class="col-lg-6 col-md-12" >
                          <div class="form-group">
                            <label class="form-label">Choisir le nom du client</label>
                            <ng-select formControlName="nameClient" name="nameClient"
                                       placeholder="-- Sélectionner un client existant --"
                                       (change)="fillAddress($event)">
                              <ng-option *ngFor="let client of clients"
                                         [value]="client.idClient">{{ client.nameClient }}
                              </ng-option>
                            </ng-select>
                          </div>
                          <div class="form-group ">
                            <label class="form-label">Adresse</label>
                            <input class="form-control" formControlName="address" name="address" type="text" readonly>
                          </div>

                          <div class="form-group ">
                            <label class="form-label">id Client</label>
                            <input class="form-control" formControlName="idClient" name="idClient" type="text" readonly>
                          </div>
                          <div class="form-group ">
                            <label class="  form-label">Nom du Contact</label>
                            <input class="form-control" formControlName="contactName" name="contactName" type="text"
                                   readonly>
                          </div>
                        </div>

                        <div class="col-lg-6 col-md-12" >
                          <div class="form-group ">
                            <label class="  form-label">Mail</label>
                            <input class="form-control" formControlName="mail" name="mail" type="text" readonly>
                          </div>

                          <div class="form-group ">
                            <label class="  form-label">Tel</label>
                            <input class="form-control" formControlName="tel" name="tel" type="text" readonly>
                          </div>
                          <div class="form-group ">
                            <label class=" form-label">Commentaires</label>
                            <textarea class="form-control" placeholder="" formControlName="commentaires"
                                      name="commentaires" rows="2" readonly></textarea>
                          </div>

                        </div>
                        <!------end------->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </ng-wizard-step>

            <!-- Étape 2 : Informations sur la mission -->
            <ng-wizard-step [canEnter]="isValidFunctionReturnsObservable.bind(this)"
                            [canExit]="isValidFunctionReturnsBoolean.bind(this)"
                            [description]="'Step 2'"
                            [title]="'Informations sur la mission'">
              <!--            <form [formGroup]="missionInformation">-->
              <div class="row">

                <!------begin------->

                <div class="col-lg-14 col-xl-12 col-md-14 col-sm-14">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Informations sur la mission </h4>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-6 col-md-12">

                          <div class="form-group  ">
                            <label class=" form-label">Titre de la mission</label>
                            <input class="form-control" formControlName="name" name="name" type="text">
                          </div>

                          <div class="form-group ">
                            <label class=" form-label">Nombre d'année d'éxperience demandé</label>
                            <input class="form-control" type="number">
                          </div>

                        </div>

                        <div class="col-lg-6 col-md-12">
                          <label class=" form-label">Descriptif</label>
                          <textarea class="form-control"
                                    placeholder=""
                                    rows="4"></textarea>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-14 col-xl-6 col-md-14 col-sm-14">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Information générales </h4>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-6 col-md-12">

                          <div class="form-group  ">
                            <label class=" form-label">Date de Début</label>
                            <input class="form-control" formControlName="startDate" name="startDate" type="date">
                          </div>

                          <div class="form-group ">
                            <label class=" form-label">Nombre de jour vendu</label>
                            <input class="form-control" formControlName="sellDays" name="sellDays" type="number">
                          </div>

                          <div class="form-group ">
                            <label class="form-label">TJM HT (eur)</label>
                            <input class="form-control" formControlName="tjm" name="tjm" type="number">
                          </div>

                        </div>
                        <div class="col-lg-6 col-md-12">

                          <div class="form-group  ">
                            <label class=" form-label">Date de Fin</label>
                            <input class="form-control" formControlName="endDate" name="endDate" type="date">
                          </div>

                          <div class="form-group ">
                            <label class=" form-label">Nombre de jour gratuit</label>
                            <input class="form-control" formControlName="freeDays" name="freeDays" type="number">
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-14 col-xl-6 col-md-14 col-sm-14">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Positionnement </h4>
                    </div>
                    <div class="card-body">
                      <div class="row">


                        <div class="form-group">
                          <div class="form-label">Attribuer la mission à moi</div>
                          <label class="custom-switch">
                            <input class="custom-switch-input" formControlName="isForMe" name="custom-switch-checkbox"
                                   type="checkbox">
                            <span class="custom-switch-indicator"></span>
                            <span class="custom-switch-description">La mission sera attaché à votre profile</span>
                          </label>
                        </div>

                        <div class="form-group ">
                          <div class="form-label">publier la mission</div>
                          <label class="custom-switch">
                            <input class="custom-switch-input" formControlName="shareMission"
                                   name="custom-switch-checkbox"
                                   type="checkbox">
                            <span class="custom-switch-indicator"></span>
                            <span class="custom-switch-description">Vous allez recevoir des positionnement sur cette mission.</span>
                          </label>
                        </div>

                        <div class="form-group ">
                          <div class="form-label">Attribuer la mission à un de mes tribunes</div>
                          <label class="custom-switch">
                            <input class="custom-switch-input" name="custom-switch-checkbox" type="checkbox">
                            <span class="custom-switch-indicator"></span>
                            <span class="custom-switch-description">Vous allez recevoir des positionnement sur cette mission.</span>
                          </label>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>

                <!------end------->
              </div>
              <!--            </form>-->
            </ng-wizard-step>

            <!-- Étape 3 : Confirmation d'ajout de la mission -->
            <ng-wizard-step [description]="'Step 3'" [title]="'Confirmation'">
              <div class="form-group">
                <label class="custom-switch">
                  <input class="custom-switch-input" name="custom-switch-checkbox" type="checkbox">
                  <span class="custom-switch-indicator"></span>
                  <span class="custom-switch-description">I agree with terms and conditions</span>
                </label>
              </div>
            </ng-wizard-step>

          </ng-wizard>
        </div>
      </form>
    </div>
  </div>
</div>

