<div class="container">
  <div class="card mt-4">
    <div class="card-header">
      <h2>Modify User</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="userForm" (ngSubmit)="modifyUser()">
        <div class="form-group">
          <label for="username">Email</label>
          <input type="text" id="username" formControlName="username" class="form-control">
          <div *ngIf="submitted && userForm.controls['username'].errors" class="text-danger">
            <div *ngIf="userForm.controls['username'].errors.required">Email is required.</div>
            <div *ngIf="userForm.controls['username'].errors.whitespace">Email cannot be empty or whitespace only.</div>
            <div *ngIf="userForm.controls['username'].errors.invalidEmail">Invalid email format.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="fullName">Full Name</label>
          <input type="text" id="fullName" formControlName="fullName" class="form-control">
          <div *ngIf="submitted && userForm.controls['fullName'].errors" class="text-danger">
            <div *ngIf="userForm.controls['fullName'].errors.required">Full Name is required.</div>
            <div *ngIf="userForm.controls['fullName'].errors.pattern">Full Name can only contain letters and spaces.</div>
            <div *ngIf="userForm.controls['fullName'].errors.whitespace">Full Name cannot be empty or whitespace only.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <div class="input-group">
            <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password" class="form-control">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
                <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button>
            </div>
          </div>
          <div *ngIf="submitted && userForm.controls['password'].errors" class="text-danger">
            <div *ngIf="userForm.controls['password'].errors.required">Password is required.</div>
            <div *ngIf="userForm.controls['password'].errors.whitespace">Password cannot be empty or whitespace only.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <div class="input-group">
            <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" formControlName="confirmPassword" class="form-control">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="toggleConfirmPasswordVisibility()">
                <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button>
            </div>
          </div>
          <div *ngIf="submitted && userForm.controls['confirmPassword'].errors" class="text-danger">
            <div *ngIf="userForm.controls['confirmPassword'].errors.required">Confirm Password is required.</div>
            <div *ngIf="userForm.controls['confirmPassword'].errors.mismatch">Passwords must match.</div>
            <div *ngIf="userForm.controls['confirmPassword'].errors.whitespace">Confirm Password cannot be empty or whitespace only.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="joursCong">Jours de Congé</label>
          <input type="number" id="joursCong" formControlName="joursCong" class="form-control">
          <div *ngIf="submitted && userForm.controls['joursCong'].errors" class="text-danger">
            <div *ngIf="userForm.controls['joursCong'].errors.required">Jours de Congé is required.</div>
            <div *ngIf="userForm.controls['joursCong'].errors.min">Jours de Congé must be at least 0.</div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="roles">Role</label>
          <select id="roles" formControlName="roles" class="form-control">
            <option value="USER">User</option>
            <option value="ADMIN">Admin</option>
          </select>
          <div *ngIf="submitted && userForm.controls['roles'].errors" class="text-danger">
            <div *ngIf="userForm.controls['roles'].errors.required">Role is required.</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Modify User</button>
        <button type="button" class="btn btn-secondary" (click)="navigateToListUser()">Back to User List</button>
      </form>
    </div>
  </div>
</div>
