<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<form [formGroup]="form" *ngIf="!showProgress">
  <div class="icon-wrapper" (click)="close()">
    <p>X</p>
  </div>
  <br>
  <br>
  <div>
    <label for="imagePicker">Sélectionnez une image:</label>
    <input type="file" id="imagePicker" (change)="onImageSelected($event)" formControlName="image" accept="image/*">
  </div>

  <div>
    <label for="dropdown">Type Du Facture:</label>
    <select id="dropdown" formControlName="option" #dropdownRef (change)="onOptionChange(dropdownRef.value)">
      <option *ngFor="let option of options" [value]="option">{{ option }}</option>
    </select>
  </div>
  

  <button mat-raised-button color="primary" #saveButton [disabled]="!form.valid" class="save-button" (click)="save()">
    <span class="save-icon">✔</span>
    Enregistrer
  </button>
</form>

<div class="loading-container" *ngIf="showProgress">
  <div class="spinner"></div>
  <p class="loading-message">Image en cours de traitement</p>
</div>