/* Modal Styles */
.comments-modal {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: transparent; /* Updated */

    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .close {
    cursor: pointer;
    font-size: 20px;
    color: #999;
    border: none;
    background-color: transparent;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
  }
  
  /* Center Modal */
  .modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  