/*.date-input-container {
  display: flex;
  flex-wrap: wrap; !* Permet le retour à la ligne des éléments *!
  overflow-x: auto; !* Permet le défilement horizontal si les éléments ne rentrent pas dans la fenêtre *!
}

.input-wrapper {
  margin-right: 5px; !* Marge entre les inputs *!
  margin-bottom: 5px; !* Ajoute une marge en bas pour séparer les lignes *!
}

input {
  width: 30px; !* Ajustez la largeur selon vos besoins *!
}*/

.container {
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.title {
  margin-bottom: 20px;
}

.user-connection {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-group {
  margin-top: 20px;
}

.button-group button {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.button-group button:hover {
  background-color: #0056b3;
}



