<!-- Conges Table -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Liste des congés</div>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>User Full Name</th>
              <th>Days Off</th>
              <th>Start Date</th>
              <th>Confirmed</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let conge of filteredConges">
              <td>{{ conge.user.fullName }}</td>
              <td>{{ conge.joursCong }}</td>
              <td>{{ conge.dateDebut }}</td>
              <td>{{ conge.confirmed ? 'Yes' : 'No' }}</td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="deleteConge(conge.id)" style="padding: 10px 8px; font-size: 12px; margin-right: 2px;">
                  <i class="fas fa-trash-alt"></i>
                </button>
                <button class="btn btn-warning btn-sm" (click)="navigateToModifyConge(conge.id)" style="padding: 10px 8px; font-size: 12px; margin-right: 2px;">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-success btn-sm" (click)="confirmConge(conge.id)" style="padding: 10px 8px; font-size: 12px;">
                  <i class="fas fa-check"></i>
                </button>
                <button class="btn btn-info btn-sm" (click)="fetchUserDetails(conge.user.id)" style="padding: 10px 8px; font-size: 12px;">
                  <i class="fas fa-info-circle"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
