<div class="container">
    <div class="card mt-4">
      <div class="card-header">
        <h2>Ajouter Mon Congé</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="congeForm" (ngSubmit)="submit()">
          <div class="form-group">
            <label for="joursCong">Days Off</label>
            <input type="number" id="joursCong" formControlName="joursCong" class="form-control">
            <div *ngIf="congeForm.get('joursCong').touched && congeForm.get('joursCong').invalid" class="text-danger">
              <div *ngIf="congeForm.get('joursCong').errors.required">Days Off is required.</div>
              <div *ngIf="congeForm.get('joursCong').errors.min">Days Off must be at least 1.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="dateDebut">Start Date</label>
            <input type="date" id="dateDebut" formControlName="dateDebut" class="form-control">
            <div *ngIf="congeForm.get('dateDebut').touched && congeForm.get('dateDebut').invalid" class="text-danger">
              <div *ngIf="congeForm.get('dateDebut').errors.required">Start Date is required.</div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="congeForm.invalid">Submit</button>
          <button type="button" class="btn btn-secondary" (click)="navigateToListMyConges()">Back to List</button>
        </form>
      </div>
    </div>
  </div>
